workflow/ddvb-case-study-generator.json
{
  "name": "DDVB Case Study Generator (Fixed - Object Body)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "webhookId": "ddvb-telegram-bot",
      "credentials": {
        "telegramApi": {
          "id": "telegram-api-credential",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Telegram input (expecting Russian)\nconst message = $input.item.json.message || {};\nconst userMessage = message.text || '';\nconst chatId = message.chat.id;\nconst userId = message.from.id;\nconst userName = message.from.first_name || 'User';\n\n// Validate Russian input\nconst hasCyrillic = /[А-Яа-яЁё]/.test(userMessage);\nif (!hasCyrillic) {\n  throw new Error('Пожалуйста, отправьте запрос на русском языке. / Please send your request in Russian.');\n}\n\n// Parse key information from message (Russian patterns)\nconst messageData = {\n  originalMessage: userMessage,\n  chatId: chatId,\n  userId: userId,\n  userName: userName,\n  timestamp: new Date().toISOString(),\n  \n  // Extract potential entities (Russian + English publication names)\n  hasPublication: /sostav|состав|forbes|форбс|rbc|рбк|vc\\.ru|вс\\.ру|cossa|косса|adindex|адиндекс/i.test(userMessage),\n  hasMetrics: /\\d+%|\\$\\d+|₽\\d+|миллион|млн|выросли|рост|процент|привлек|увеличил/i.test(userMessage),\n  hasClientName: true, // Will be refined in OpenAI\n  \n  // Determine if this is initial request or follow-up\n  isInitialRequest: !userMessage.toLowerCase().includes('да') && \n                     !userMessage.toLowerCase().includes('нет'),\n  \n  // Prepare for next nodes\n  needsResearch: userMessage.length < 200, // Short messages may need more context\n  readyForGeneration: userMessage.length > 200 && /клиент|проект|ребрендинг|брендинг|компания|упаковка/i.test(userMessage)\n};\n\nreturn { json: messageData };"
      },
      "id": "parse-input",
      "name": "Parse Telegram Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/cybernexcorps/case-study-generator/claude/build-n8n-agent-01JmQ29xDuXm1u9gHeeDFfSQ/prompts/perplexity-research.md",
        "responseFormat": "string"
      },
      "id": "fetch-prompt-1",
      "name": "Fetch Perplexity Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/cybernexcorps/case-study-generator/claude/build-n8n-agent-01JmQ29xDuXm1u9gHeeDFfSQ/prompts/openai-generation.md",
        "responseFormat": "string"
      },
      "id": "fetch-prompt-2",
      "name": "Fetch Generation Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/cybernexcorps/case-study-generator/claude/build-n8n-agent-01JmQ29xDuXm1u9gHeeDFfSQ/prompts/russian-translation.md",
        "responseFormat": "string"
      },
      "id": "fetch-prompt-3",
      "name": "Fetch Russian Translation Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/cybernexcorps/case-study-generator/claude/build-n8n-agent-01JmQ29xDuXm1u9gHeeDFfSQ/prompts/russian-humanization.md",
        "responseFormat": "string"
      },
      "id": "fetch-prompt-4",
      "name": "Fetch Humanization Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const baseData = $('Parse Telegram Input').item.json;\nconst getPrompt = (nodeName) => {\n  const data = $(nodeName).item.json;\n  if (typeof data.body === 'string') {\n    return data.body;\n  }\n  if (typeof data.data === 'string') {\n    return data.data;\n  }\n  if (typeof data === 'string') {\n    return data;\n  }\n  return JSON.stringify(data);\n};\n\nconst prompts = {\n  perplexityResearch: getPrompt('Fetch Perplexity Prompt'),\n  openaiGeneration: getPrompt('Fetch Generation Prompt'),\n  russianTranslation: getPrompt('Fetch Russian Translation Prompt'),\n  russianHumanization: getPrompt('Fetch Humanization Prompt')\n};\n\nreturn {\n  json: {\n    ...baseData,\n    prompts,\n    promptsLoaded: true,\n    promptVersion: 'main',\n    promptLoadTimestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "assemble-prompts",
      "name": "Assemble Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.needsResearch }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "needsResearch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.readyForGeneration }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "readyForGeneration"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "router",
      "name": "Route Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "perplexityApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: \"sonar\",\n  messages: [\n    {\n      role: \"system\",\n      content: $('Assemble Prompts').item.json.prompts.perplexityResearch\n    },\n    {\n      role: \"user\",\n      content: \"Case study request (in Russian):\\n\\n\" + $json.originalMessage + \"\\n\\nPlease translate to English and provide structured research following the format above.\"\n    }\n  ],\n  temperature: 0.3,\n  max_tokens: 1000\n} }}",
        "options": {}
      },
      "id": "perplexity-research",
      "name": "Perplexity Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        100
      ],
      "credentials": {
        "perplexityApi": {
          "id": "perplexity-api-credential",
          "name": "Perplexity API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine research with original message\nconst originalData = $('Parse Telegram Input').item.json;\nconst researchResponse = $input.item.json.choices[0].message.content;\n\nreturn {\n  json: {\n    ...originalData,\n    researchContext: researchResponse,\n    enrichedMessage: originalData.originalMessage + \"\\n\\n[Research Context: \" + researchResponse + \"]\",\n    readyForGeneration: true\n  }\n};"
      },
      "id": "merge-research",
      "name": "Merge Research Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare OpenAI messages for ENGLISH case study generation\nconst userData = $input.item.json;\nconst userMessage = userData.enrichedMessage || userData.originalMessage;\nconst systemPrompt = $('Assemble Prompts').item.json.prompts.openaiGeneration;\n\nconst messages = [\n  {\n    role: 'system',\n    content: systemPrompt\n  },\n  {\n    role: 'user',\n    content: userMessage\n  }\n];\n\nreturn {\n  json: {\n    ...userData,\n    openaiMessages: messages\n  }\n};"
      },
      "id": "prepare-openai",
      "name": "Prepare OpenAI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: \"gpt-4o\",\n  messages: $json.openaiMessages,\n  temperature: 0.8,\n  max_tokens: 4000\n} }}",
        "options": {}
      },
      "id": "openai-generation",
      "name": "Generate English Case Study",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-api-credential",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract English case study\nconst englishCaseStudy = $input.item.json.choices[0].message.content;\nconst originalData = $('Prepare OpenAI Request').item.json;\n\nreturn {\n  json: {\n    ...originalData,\n    englishCaseStudy: englishCaseStudy\n  }\n};"
      },
      "id": "extract-english",
      "name": "Extract English Case Study",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: \"gpt-4o\",\n  messages: [\n    {\n      role: \"system\",\n      content: $('Assemble Prompts').item.json.prompts.russianTranslation\n    },\n    {\n      role: \"user\",\n      content: $json.englishCaseStudy\n    }\n  ],\n  temperature: 0.3,\n  max_tokens: 4000\n} }}",
        "options": {}
      },
      "id": "translate-to-russian",
      "name": "Translate to Russian",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-api-credential",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: \"gpt-4o\",\n  messages: [\n    {\n      role: \"system\",\n      content: $('Assemble Prompts').item.json.prompts.russianHumanization\n    },\n    {\n      role: \"user\",\n      content: $('Translate to Russian').item.json.choices[0].message.content\n    }\n  ],\n  temperature: 0.7,\n  max_tokens: 4000\n} }}",
        "options": {}
      },
      "id": "humanize-russian",
      "name": "Humanize Russian Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-api-credential",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract humanized Russian case study\nconst humanizedCaseStudy = $input.item.json.choices[0].message.content;\nconst originalData = $('Extract English Case Study').item.json;\n\nreturn {\n  json: {\n    ...originalData,\n    russianCaseStudy: humanizedCaseStudy,\n    humanized: true\n  }\n};"
      },
      "id": "extract-humanized",
      "name": "Extract Humanized Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate Russian case study\nconst russianCaseStudy = $input.item.json.russianCaseStudy;\nconst originalData = $input.item.json;\n\n// Basic validation\nconst validations = {\n  hasRussianText: /[А-Яа-яЁё]/.test(russianCaseStudy),\n  hasQuotes: (russianCaseStudy.match(/>/g) || []).length >= 2,\n  hasProperQuotationMarks: /«.*»/.test(russianCaseStudy),\n  hasTitle: /^[^\\n]+/.test(russianCaseStudy),\n  lengthOk: russianCaseStudy.length >= 1500 && russianCaseStudy.length <= 4000,\n  hasDDVBBranding: /DDVB|агентство|команда/.test(russianCaseStudy)\n};\n\nconst allValid = Object.values(validations).every(v => v === true);\n\nreturn {\n  json: {\n    ...originalData,\n    russianCaseStudy: russianCaseStudy,\n    validations: validations,\n    isValid: allValid,\n    validationSummary: allValid ? '✅ All quality checks passed (humanized)' : '⚠️ Some quality checks failed: ' + JSON.stringify(validations)\n  }\n};"
      },
      "id": "validate-russian",
      "name": "Validate Russian Case Study",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ \"📄 **Кейс DDVB готов!**\\n\\n\" + $json.russianCaseStudy + \"\\n\\n---\\n\\n\" + $json.validationSummary }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3740,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-api-credential",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "height": 340,
        "width": 380,
        "content": "## 1. Set Up API Credentials\n\n**Get API Keys:**\n\n1. **OpenAI API Key:**\n   - Go to [OpenAI Platform](https://platform.openai.com/api-keys)\n   - Create new API key\n   - Ensure GPT-4o model access\n   - Add funds to billing account\n\n2. **Perplexity API Key:**\n   - Go to [Perplexity Settings](https://www.perplexity.ai/settings/api)\n   - Generate API key\n   - Add to n8n credentials\n\n3. **Telegram Bot Token:**\n   - Message @BotFather on Telegram\n   - Use `/newbot` command\n   - Copy bot token\n   - Add to n8n Telegram credentials"
      },
      "id": "note-setup-credentials",
      "name": "Setup API Credentials",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -100
      ]
    },
    {
      "parameters": {
        "height": 280,
        "width": 380,
        "content": "## 2. Russian Input Format\n\n**Send Case Study Request in Russian:**\n\n✅ **Required Information:**\n- Client name and industry\n- Project type (branding, rebranding, packaging, etc.)\n- Target publication (Sostav.ru, Forbes Russia, etc.)\n- Business results/metrics\n\n📝 **Example Message:**\n```\nСоздай кейс DDVB для Sostav.ru о \nребрендинге пивоварни \"Хмель & Солод\".\nПродажи выросли на 45% после запуска \nновой айдентики от DDVB.\n```\n\n💡 **Tip:** More details = better case study!"
      },
      "id": "note-input-format",
      "name": "Russian Input Requirements",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        540
      ]
    },
    {
      "parameters": {
        "height": 260,
        "width": 360,
        "content": "## 3. Research Phase\n\n**Perplexity AI Research:**\n\n🔍 **What it does:**\n- Translates Russian request to English\n- Researches company background\n- Analyzes industry context\n- Identifies competitive landscape\n- Finds potential project drivers\n\n📊 **Output Format:**\n- Company background\n- Brand & market context\n- Industry insights\n- Business drivers\n\n⏱️ **Typical duration:** 5-10 seconds"
      },
      "id": "note-research-phase",
      "name": "Research Phase",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        -200
      ]
    },
    {
      "parameters": {
        "height": 320,
        "width": 380,
        "content": "## 4. English Generation\n\n**OpenAI GPT-4o Case Study Generation:**\n\n📝 **Process:**\n- Accepts Russian input + research context\n- Generates complete case study in English\n- Follows SITUATION-TASK-SOLUTION structure\n- Creates client & agency quotes (500-700 chars)\n- Integrates DDVB branding naturally\n\n✨ **Why English First?**\n- Better AI quality and consistency\n- Superior quote generation\n- Cleaner narrative structure\n- Professional translation in next step\n\n📄 **Output:** Complete English case study with:\n- Title & subtitle\n- Main text (SITUATION-TASK-SOLUTION)\n- Client & agency quotes\n- Team composition\n- SEO metadata"
      },
      "id": "note-english-generation",
      "name": "English Generation Process",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2420,
        -80
      ]
    },
    {
      "parameters": {
        "height": 320,
        "width": 360,
        "content": "## 5. Russian Translation\n\n**Professional Translation with Standards:**\n\n🇷🇺 **Russian Media Standards:**\n- Title ≤ 90 characters, active voice\n- СИТУАЦИЯ-ЗАДАЧА-РЕШЕНИЕ structure\n- Proper quotation marks: «кавычки»\n- Em-dashes (—) for emphasis\n- Numbers: 10 000 (with space)\n- Eliminates канцелярит\n\n📚 **Terminology:**\n- Branding → брендинг\n- Rebranding → ребрендинг\n- Brand identity → айдентика\n- Naming → нейминг\n- Packaging → упаковка\n\n✅ **Result:** Publication-ready Russian text following Sostav.ru, Forbes Russia, RBC standards"
      },
      "id": "note-translation",
      "name": "Russian Translation Standards",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2860,
        -60
      ]
    },
    {
      "parameters": {
        "height": 280,
        "width": 340,
        "content": "## 6. AI Humanization\n\n**Remove AI Patterns:**\n\n🎯 **Purpose:**\nMake Russian text sound natural and human-written, not AI-generated\n\n🔧 **Techniques:**\n- Remove robotic phrasing\n- Vary sentence structures\n- Eliminate bureaucratic language\n- Add natural flow and transitions\n- Use industry insider voice\n\n✅ **Preserves:**\n- All facts and metrics\n- DDVB branding\n- Russian media standards\n- Client & agency quotes\n- Team composition\n\n💡 **Result:** Natural, publication-ready Russian text"
      },
      "id": "note-humanization",
      "name": "AI Humanization Process",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3080,
        540
      ]
    },
    {
      "parameters": {
        "height": 300,
        "width": 340,
        "content": "## 7. Quality Validation\n\n**Automated Quality Checks:**\n\n✅ **Validates:**\n- Russian text present (Cyrillic)\n- Both quotes included (client + agency)\n- Proper quotation marks «кавычки»\n- Title present and formatted\n- Length: 1,500-4,000 characters\n- DDVB branding integrated\n\n📊 **Validation Output:**\n- ✅ All quality checks passed\n- ⚠️ Failed checks with details\n\n📲 **Delivery:**\nHumanized Russian case study sent to Telegram with validation results\n\n🎉 **Final Output:**\nPublication-ready case study for Russian media!"
      },
      "id": "note-validation",
      "name": "Quality Validation & Delivery",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3520,
        540
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Telegram Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Input": {
      "main": [
        [
          {
            "node": "Fetch Perplexity Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Perplexity Prompt": {
      "main": [
        [
          {
            "node": "Fetch Generation Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Generation Prompt": {
      "main": [
        [
          {
            "node": "Fetch Russian Translation Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Russian Translation Prompt": {
      "main": [
        [
          {
            "node": "Fetch Humanization Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Humanization Prompt": {
      "main": [
        [
          {
            "node": "Assemble Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Prompts": {
      "main": [
        [
          {
            "node": "Route Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Decision": {
      "main": [
        [
          {
            "node": "Perplexity Research",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare OpenAI Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare OpenAI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Research": {
      "main": [
        [
          {
            "node": "Merge Research Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Research Data": {
      "main": [
        [
          {
            "node": "Prepare OpenAI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OpenAI Request": {
      "main": [
        [
          {
            "node": "Generate English Case Study",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate English Case Study": {
      "main": [
        [
          {
            "node": "Extract English Case Study",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract English Case Study": {
      "main": [
        [
          {
            "node": "Translate to Russian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate to Russian": {
      "main": [
        [
          {
            "node": "Humanize Russian Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Humanize Russian Text": {
      "main": [
        [
          {
            "node": "Extract Humanized Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Humanized Text": {
      "main": [
        [
          {
            "node": "Validate Russian Case Study",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Russian Case Study": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}