workflow/ddvb-case-study-generator.json
{
  "name": "DDVB Case Study Generator",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "ddvb-telegram-bot",
      "credentials": {
        "telegramApi": {
          "id": "telegram-api-credential",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Telegram input (expecting Russian)\nconst message = $input.item.json.message || {};\nconst userMessage = message.text || '';\nconst chatId = message.chat.id;\nconst userId = message.from.id;\nconst userName = message.from.first_name || 'User';\n\n// Validate Russian input\nconst hasCyrillic = /[А-Яа-яЁё]/.test(userMessage);\nif (!hasCyrillic) {\n  throw new Error('Пожалуйста, отправьте запрос на русском языке. / Please send your request in Russian.');\n}\n\n// Parse key information from message (Russian patterns)\nconst messageData = {\n  originalMessage: userMessage,\n  chatId: chatId,\n  userId: userId,\n  userName: userName,\n  timestamp: new Date().toISOString(),\n  \n  // Extract potential entities (Russian + English publication names)\n  hasPublication: /sostav|состав|forbes|форбс|rbc|рбк|vc\\.ru|вс\\.ру|cossa|косса|adindex|адиндекс/i.test(userMessage),\n  hasMetrics: /\\d+%|\\$\\d+|₽\\d+|миллион|млн|выросли|рост|процент|привлек|увеличил/i.test(userMessage),\n  hasClientName: true, // Will be refined in OpenAI\n  \n  // Determine if this is initial request or follow-up\n  isInitialRequest: !userMessage.toLowerCase().includes('да') && \n                     !userMessage.toLowerCase().includes('нет'),\n  \n  // Prepare for next nodes\n  needsResearch: userMessage.length < 200, // Short messages may need more context\n  readyForGeneration: userMessage.length > 200 && /клиент|проект|ребрендинг|брендинг|компания|упаковка/i.test(userMessage)\n};\n\nreturn { json: messageData };"
      },
      "id": "parse-input",
      "name": "Parse Telegram Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.needsResearch }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "needsResearch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.readyForGeneration }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "readyForGeneration"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "router",
      "name": "Route Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "perplexityApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.1-sonar-large-128k-online"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"system\", \"content\": \"You are a research assistant helping gather information for case studies. The user will provide a case study request in Russian. First translate it to English, then provide factual, recent information about the companies, industries, and branding projects mentioned. Focus on business context, market position, and industry trends. Answer in English.\"}, {\"role\": \"user\", \"content\": \"Case study request (in Russian): \" + $json.originalMessage + \"\\n\\nPlease: 1) Translate this to English, 2) Research the company/project mentioned, 3) Provide: Company background, Industry context, Recent news, Competitive landscape. Keep it concise (300-400 words in English).\"}] }}"
            },
            {
              "name": "temperature",
              "value": "0.3"
            },
            {
              "name": "max_tokens",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "id": "perplexity-research",
      "name": "Perplexity Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "credentials": {
        "perplexityApi": {
          "id": "perplexity-api-credential",
          "name": "Perplexity API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine research with original message\nconst originalData = $('Parse Telegram Input').item.json;\nconst researchResponse = $input.item.json.choices[0].message.content;\n\nreturn {\n  json: {\n    ...originalData,\n    researchContext: researchResponse,\n    enrichedMessage: originalData.originalMessage + \"\\n\\n[Research Context: \" + researchResponse + \"]\",\n    readyForGeneration: true\n  }\n};"
      },
      "id": "merge-research",
      "name": "Merge Research Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "// Prepare OpenAI messages for ENGLISH case study generation\nconst userData = $input.item.json;\nconst userMessage = userData.enrichedMessage || userData.originalMessage;\n\n// English system prompt\nconst systemPrompt = `You are Ilya Morozov, Senior PR Executive at DDVB—a leading Russian branding agency. You have 12+ years of experience specializing in brand storytelling and case study development that showcases DDVB's award-winning branding work for clients.\n\n**IMPORTANT: The user will provide their request in RUSSIAN, but you should generate the case study in ENGLISH. It will be translated to Russian in a separate step.**\n\n**If the user message is in Russian:** First understand the Russian request, then generate the complete case study in professional English. Do not translate back to Russian - that happens automatically in the next step.\n\n## About DDVB Agency\nDDVB is a Russian branding agency specializing in:\n- Brand Strategy\n- Brand Identity & Visual Identity\n- Rebranding\n- Naming\n- Packaging Design\n- Brand Positioning\n\n## Case Study Structure\n\n**Follow this structure for the ENGLISH case study:**\n\n**1. TITLE (Maximum 90 characters)**\n- Short, simple, energetic, active voice\n- NEVER start with a preposition or number\n- Example: \"DDVB Develops Visual Identity for Osnova Branding Festival\"\n\n**2. SUBTITLE**\n- Expands title (1-2 sentences), MUST NOT duplicate title\n- Example: \"The branding agency created a new design for the event series\"\n\n**3. MAIN TEXT (1,500-2,000 characters)**\n- MANDATORY Structure (SITUATION-TASK-SOLUTION):\n  * SITUATION: Context, client background, market position\n  * TASK: Specific objectives, business challenges\n  * SOLUTION: How solved, actions taken, results achieved\n\n**4. QUOTES - MANDATORY**\n- MUST include BOTH client AND agency quotes (500-700 chars each)\n- If quotes not provided, YOU MUST generate them based on case description\n- Format as blockquotes:\n> **Full Name, Title, Company:**\n>\n> Quote text here.\n\n**5. TEAM COMPOSITION**\n- List DDVB team members and client team members\n\n### Quality Requirements\n- Active, clear, professional English\n- Specific and concrete rather than vague\n- Eliminate bureaucratic language\n- DDVB branding naturally integrated throughout\n\n## Your Task\n\n1. **Assess Information**: Determine if you have enough details\n2. **Ask Clarifying Questions** in English if needed:\n   - Target publication?\n   - Client industry and background?\n   - Project deliverables?\n   - Measurable results?\n   - Client quotes available?\n   - DDVB team members?\n3. **Generate Complete Case Study** in ENGLISH following structure above\n4. **Include Metadata** in English:\n   - SEO title tag (50-60 chars)\n   - Meta description (150-160 chars)\n   - Primary keywords (3-5)\n   - Secondary keywords (5-10)\n   - Pull quotes (2-4)\n\nRemember: Generate in ENGLISH. Translation to Russian happens in next step.`;\n\nconst messages = [\n  {\n    role: \"system\",\n    content: systemPrompt\n  },\n  {\n    role: \"user\",\n    content: userMessage\n  }\n];\n\nreturn {\n  json: {\n    ...userData,\n    openaiMessages: messages\n  }\n};"
      },
      "id": "prepare-openai",
      "name": "Prepare OpenAI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o"
            },
            {
              "name": "messages",
              "value": "={{ $json.openaiMessages }}"
            },
            {
              "name": "temperature",
              "value": "0.8"
            },
            {
              "name": "max_tokens",
              "value": "4000"
            }
          ]
        },
        "options": {}
      },
      "id": "openai-generation",
      "name": "Generate English Case Study",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-api-credential",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract English case study\nconst englishCaseStudy = $input.item.json.choices[0].message.content;\nconst originalData = $('Prepare OpenAI Request').item.json;\n\nreturn {\n  json: {\n    ...originalData,\n    englishCaseStudy: englishCaseStudy\n  }\n};"
      },
      "id": "extract-english",
      "name": "Extract English Case Study",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"system\", \"content\": \"You are a professional translator specializing in marketing and branding content. Translate the following English case study to professional Russian following these strict requirements:\\n\\n**Russian Media Editorial Standards:**\\n- Title ≤ 90 characters, active voice, no preposition/number at start\\n- Use СИТУАЦИЯ-ЗАДАЧА-РЕШЕНИЕ structure (Situation-Task-Solution)\\n- Russian quotation marks: «кавычки» (not \\\"quotes\\\")\\n- Em-dashes without spaces: текст—продолжение\\n- Numbers: 10 000 (with space separator)\\n- Eliminate канцелярит (bureaucratic language)\\n- Clear, active, professional Russian\\n- Brand names: Cyrillic brands in «quotes», foreign brands without quotes\\n\\n**Key terminology translations:**\\n- Branding → брендинг\\n- Rebranding → ребрендинг\\n- Brand identity → айдентика / фирменный стиль\\n- Naming → нейминг\\n- Packaging → упаковка\\n- Positioning → позиционирование\\n- Agency → агентство\\n- Team → команда\\n\\nMaintain the structure, formatting (blockquotes, bullet points), and DDVB branding. Output ONLY the Russian translation, nothing else.\"}, {\"role\": \"user\", \"content\": $json.englishCaseStudy}] }}"
            },
            {
              "name": "temperature",
              "value": "0.3"
            },
            {
              "name": "max_tokens",
              "value": "4000"
            }
          ]
        },
        "options": {}
      },
      "id": "translate-to-russian",
      "name": "Translate to Russian",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-api-credential",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate Russian case study\nconst russianCaseStudy = $input.item.json.choices[0].message.content;\nconst originalData = $('Extract English Case Study').item.json;\n\n// Basic validation\nconst validations = {\n  hasRussianText: /[А-Яа-яЁё]/.test(russianCaseStudy),\n  hasQuotes: (russianCaseStudy.match(/>/g) || []).length >= 2,\n  hasProperQuotationMarks: /«.*»/.test(russianCaseStudy),\n  hasTitle: /^[^\\n]+/.test(russianCaseStudy),\n  lengthOk: russianCaseStudy.length >= 1500 && russianCaseStudy.length <= 4000,\n  hasDDVBBranding: /DDVB|агентство|команда/.test(russianCaseStudy)\n};\n\nconst allValid = Object.values(validations).every(v => v === true);\n\nreturn {\n  json: {\n    ...originalData,\n    russianCaseStudy: russianCaseStudy,\n    validations: validations,\n    isValid: allValid,\n    validationSummary: allValid ? '✅ All quality checks passed' : '⚠️ Some quality checks failed: ' + JSON.stringify(validations)\n  }\n};"
      },
      "id": "validate-russian",
      "name": "Validate Russian Case Study",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ \"📄 **Кейс DDVB готов!**\\n\\n\" + $json.russianCaseStudy + \"\\n\\n---\\n\\n\" + $json.validationSummary }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [2440, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-api-credential",
          "name": "Telegram API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Telegram Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Input": {
      "main": [
        [
          {
            "node": "Route Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Decision": {
      "main": [
        [
          {
            "node": "Perplexity Research",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare OpenAI Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare OpenAI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Research": {
      "main": [
        [
          {
            "node": "Merge Research Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Research Data": {
      "main": [
        [
          {
            "node": "Prepare OpenAI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OpenAI Request": {
      "main": [
        [
          {
            "node": "Generate English Case Study",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate English Case Study": {
      "main": [
        [
          {
            "node": "Extract English Case Study",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract English Case Study": {
      "main": [
        [
          {
            "node": "Translate to Russian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate to Russian": {
      "main": [
        [
          {
            "node": "Validate Russian Case Study",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Russian Case Study": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-11-19T00:00:00.000Z",
  "versionId": "2.0.0"
}
